<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Sign in</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <ion-list>
            <!-- Email Input -->
            <ion-item class="ion-margin-bottom">
              <ion-button fill="clear" slot="start" class="no-bg-btn">
                <ion-icon name="mail"></ion-icon>
              </ion-button>
              <ion-input
                type="email"
                aria-label="Enter email"
                placeholder="Enter email"
                fill="outline"
                formControlName="email"
                aria-label="Enter email"
                placeholder="Enter email"
                fill="outline"
                errorText="Invalid email"
              ></ion-input>
            </ion-item>

            <!-- Password Input -->
            <ion-item class="ion-margin-bottom">
              <ion-button fill="clear" slot="start" class="no-bg-btn">
                <ion-icon name="lock-closed"></ion-icon>
              </ion-button>
              <ion-input
                name="password"
                fill="outline"
                type="password"
                aria-label="Enter password"
                placeholder="Enter password"
                formControlName="password"
                errorText="Password is required (min 6 characters)"
              >
                <ion-input-password-toggle
                  slot="end"
                ></ion-input-password-toggle>
              </ion-input>
            </ion-item>

            <!-- Forgot Password Link -->
            <div class="forgot-password-container ion-text-end">
              <a href="#" class="forgot-btn">Forgot Password?</a>
            </div>

            <!-- Login Button -->
            <ion-button
              type="submit"
              expand="block"
              class="auth-submit-btn ion-margin-top"
              color="dark"
              fill="solid"
              [disabled]="loginForm.invalid"
            >
              Login Now
            </ion-button>
          </ion-list>
        </form>

        <!-- "or" 分隔線區塊 -->
        <div class="ion-or-divider">or sign in with</div>

        <div class="social-login-container">
          <!-- 1. Google 登入按鈕 -->
          <ion-button
            fill="clear"
            expand="block"
            class="modern-social-btn google" (click)="socialLogin('Google')"
          >
            <ion-icon name="logo-google"></ion-icon>
          </ion-button>

          <!-- 2. Apple 登入按鈕 -->
          <ion-button
            fill="clear"
            expand="block"
            class="modern-social-btn apple" (click)="socialLogin('Apple')"
          >
            <ion-icon name="logo-apple"></ion-icon>
          </ion-button>

          <!-- 3. Facebook 登入按鈕 -->
          <ion-button
            fill="clear"
            expand="block"
            class="modern-social-btn facebook" (click)="socialLogin('Facebook')"
          >
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-button>
        </div>
        
        <!-- "or" 分隔線區塊 -->
        <div class="ion-or-divider">or</div>

        <ion-button
          fill="clear"
          expand="block"
          color="dark"
          class="create-account-btn"
          routerLink="/register"
        >
          Create Account
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
